body {
    background-image: url(https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg) !important;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: ; */
    padding: 20px;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin: auto;
    padding: 20px;
    max-width: 500px;
}

.flavor,
.dessert {
    text-align: left;
    width: 50%;
}

.price {
    text-align: right;
    width: 45%;
}

h1,
h2,
p {
    text-align: center;
}

.line {
    background-color: brown !important;
    height: 4px;
    width: 80%;
    align-self: center;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
}

h1,
h2 {
    font-family: Impact, Arial, Helvetica, sans-serif;
}

.divider {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
}

.established {
    font-style: italic;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}

h1 {
    font-size: 40px;
}


/* FOOTER STYLINGS */

footer {
    font-size: 14p;
}