    body {
        /* background-color: burlywood; */
        ;
    }
    
    div {
        width: 80%;
        background-color: burlywood;
        marg
    }
    
    h1,
    h2,
    p {
        text-align: center;
    }